{{define "title"}}Home - boxes{{end}}
{{define "main"}}
<h2>Latest Boxes</h2>
    {{if .Boxes}}
    <table>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>Id</th>
        </tr>
    {{range .Boxes}}
        <tr>
            <td><a href='/box/view/{{.Id}}'>{{.Title}}</a></td>
            <td>{{.Created.Format "02 Jan 06 15:04 MST"}}</td>
            <td>#{{.Id}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
    <p>There's nothing to see here... yet!</p>
{{end}}
{{end}}
